QMainWindow {
	background: #444;
}
QMessageBox {
	background: #444;
}
QMessageBox QLabel {
	color: #fff;
}
QDialog {
	background: #333;
}
QDialog QLabel {
	color: #fff;
}
QDialog QCheckBox {
	color: #fff;
}
QSlider::handle:horizontal {
	background: #fff;
	border: 1px solid #5c5c5c;
	width: 18px;
	margin: -2px 0;
	border-radius: 3px;
}
QMenuBar {
	background: #444;
	color: #fff;
}
QMenuBar::item:selected {
	background: #555;
}
QMenuBar::item:pressed {
	background: #777;
}
QMenu {
	color: #fff;
	background-color: #333;
	border: 1px solid black;
}
QMenu::item {
	background-color: transparent;
}
QMenu::item:selected {
	background-color: #555;
}
QGraphicsView {
	background: #222;
	border: 0px;
}
QSpinBox {
	background: #222;
	color: #fff;
}
QSpinBox::down-button {
	subcontrol-origin: border;
}
QPushButton {
        background: rgba(0, 0, 0, .3);
	color: #aaa;
	font-weight: bold;
	text-align: center;
}
QPushButton:hover {
        background: rgba(0, 0, 0, .1);
	color: #ccc;
}
QPushButton:pressed {
	color: #fff;
}
QPushButton:checked {
	color: #fff;
}
QListWidget {
        color: #fff;
        background: #555;
        border: none;
}
QScrollBar:horizontal {
	border: 0px solid grey;
	background: #333;
	height: 15px;
	margin: 0px 22px 0 22px;
}
QScrollBar::handle:horizontal {
	background: #666;
	min-width: 20px;
}
QScrollBar::add-line:horizontal {
	border: 0px solid grey;
	background: #555;
	width: 20px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
	border: 0px solid grey;
	background: #555;
	width: 20px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
	background: none;
}
QScrollBar:vertical {
	border: 0px solid grey;
	background: #333;
	width: 15px;
	margin: 22px 0 22px 0;
}
QScrollBar::handle:vertical {
	background: #666;
	min-height: 20px;
}
QScrollBar::add-line:vertical {
	border: 0px solid grey;
	background: #555;
	height: 20px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
	border: 0px solid grey;
	background: #555;
	height: 20px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
	background: none;
}
